<!-- app/views/dinosaurs/show.html.erb -->

<h1><%= @developer.full_name%></h1>

<p>Age: <%= @developer.age %></p>
<p>Age: <%= @developer.skills %></p>
<p>Age: <%= @developer.trait %></p>
<%= image_tag @developer.image_url %>
