<!-- app/views/dinosaurs/show.html.erb -->

<h1><%= @developer.full_name%></h1>

  <p>Age: <%= @developer.age %></p>
  <p>Skills: <%= @developer.skills %></p>
  <p>Trait: <%= @developer.trait %></p>
  <p>Location: <%= @developer.country.name %></p>
  <%= image_tag @developer.image_url %>

  <hr>

  <%= link_to "[Edit]", edit_developer_path(@developer)%>
