<!DOCTYPE html>
<html>
  <head>
    <title>RentADeveloper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img src="http://nebula.wsimg.com/97c26faf7dac7efd6db60ee5ba7612e2?AccessKeyId=68FA2872EF04760ADF5F&disposition=0&alloworigin=1" alt="logo"/>
    <%= yield %>

    <br><br>
    <hr>

    <%= link_to "[All Developers]", root_path %>
    <%= link_to "[All Countries]", countries_path %>

  </body>
</html>
